server/src/main/resources/com/programyourhome/config/server/xsd/program-your-home-config-server.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pyh="http://programyourhome.com/config" xmlns="http://programyourhome.com/config" targetNamespace="http://programyourhome.com/config"
    elementFormDefault="qualified">
    <xsd:include schemaLocation="modules/program-your-home-config-philips-hue.xsd" />
    <xsd:include schemaLocation="modules/program-your-home-config-infra-red.xsd" />
    <xsd:include schemaLocation="modules/program-your-home-config-pc-instructor.xsd" />
    <xsd:element name="serverConfig">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="defaultLanguage" type="language" minOccurs="1" maxOccurs="1" />
                <xsd:element name="people" type="people" minOccurs="1" maxOccurs="1" />
                <xsd:element name="stateConfig" type="stateConfig" minOccurs="1" maxOccurs="1" />
                <xsd:element name="activitiesConfig" type="activitiesConfig" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dailyRhythm" type="dailyRhythymConfig" minOccurs="1" maxOccurs="1" />
                <xsd:element name="customBehaviors" type="customBehaviors" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
        </xsd:complexType>
        <!-- TODO: referential integrity checks! -->
		<xsd:unique name="residentStates_uniqueName">
			<xsd:selector xpath="pyh:people/pyh:residents/pyh:resident" />
			<xsd:field xpath="pyh:name" />
		</xsd:unique>
    </xsd:element>
    <xsd:complexType name="people">
        <xsd:sequence>
		    <xsd:element name="person" type="person" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="person">
        <xsd:sequence>
            <xsd:element name="id" type="id" minOccurs="1" maxOccurs="1" />
            <xsd:element name="userid" type="id" minOccurs="0" maxOccurs="1" />
            <xsd:element name="type" type="personType" minOccurs="1" maxOccurs="1" />
            <xsd:element name="firstName" type="xsd:string"  minOccurs="1" maxOccurs="1" />
            <xsd:element name="lastName" type="xsd:string"  minOccurs="1" maxOccurs="1" />
            <xsd:element name="birthDate" type="xsd:date"  minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
    <xsd:complexType name="stateConfig">
        <xsd:sequence>
            <xsd:element name="resident" type="statesAndTransitions" minOccurs="1" maxOccurs="1" />
            <xsd:element name="guest" type="statesAndTransitions" minOccurs="1" maxOccurs="1" />
            <xsd:element name="home" type="homeStateConfig" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="statesAndTransitions">
        <xsd:sequence>
            <xsd:element name="defaultState" type="id" minOccurs="1" maxOccurs="1" />
            <xsd:element name="states" type="states" minOccurs="1" maxOccurs="1" />
            <xsd:element name="stateTransitions" type="stateTransitions" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="states">
        <xsd:sequence>
            <xsd:element name="state" type="state" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="state">
        <xsd:sequence>
            <xsd:element name="id" type="id" minOccurs="1" maxOccurs="1">
            	<xsd:annotation>
            		<xsd:documentation>A state id should be overall unique!</xsd:documentation>
            	</xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string"  minOccurs="1" maxOccurs="1"/>
            <xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="stateTransitions">
        <xsd:sequence>
            <xsd:element name="stateTransition" type="stateTransition" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="stateTransition">
        <xsd:sequence>
            <xsd:element name="from" type="id" minOccurs="1" maxOccurs="1" />
            <xsd:element name="to" type="id"  minOccurs="1" maxOccurs="1"/>
            <xsd:element name="name" type="xsd:string"  minOccurs="1" maxOccurs="1"/>
            <xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
    </xsd:complexType>
    <!-- TODO: documentation / description / default if none applies? / overriding / priority? -->
    <!-- Idea: validation with some logic library that all possible states of people result in one and only one home state. -->
    <xsd:complexType name="homeStateConfig">
        <xsd:sequence>
            <xsd:element name="homeStates" type="homeStates" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="homeStates">
        <xsd:sequence>
            <xsd:element name="homeState" type="homeState" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="homeState">
        <xsd:sequence>
            <xsd:element name="state" type="state" minOccurs="1" maxOccurs="1" />
            <xsd:element name="trigger" type="stateTrigger" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="stateTrigger">
        <xsd:choice>
            <xsd:element name="manual" type="manual" minOccurs="1" maxOccurs="1" />
            <xsd:element name="derived" type="derivedStateRule" minOccurs="1" maxOccurs="1" />
		</xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="derivedStateRule">
        <xsd:sequence>
            <xsd:element name="and" type="ors" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ors">
        <xsd:sequence>
            <xsd:element name="or" type="logicRule" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="logicRule">
        <xsd:sequence>
            <xsd:element name="logicGrouping" type="logicGrouping" minOccurs="1" maxOccurs="1" />
            <xsd:element name="people" type="peopleType" minOccurs="1" maxOccurs="1" />
            <xsd:element name="state" type="id" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="activitiesConfig">
        <xsd:sequence>
            <xsd:element name="defaultIcon" type="xsd:string" minOccurs="1" maxOccurs="1" />
            <xsd:element name="activities" type="activities" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="activities">
        <xsd:sequence>
            <xsd:element name="activity" type="activity" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="activity">
        <xsd:sequence>
            <xsd:element name="id" type="id" minOccurs="1" maxOccurs="1" />
            <xsd:element name="name" type="xsd:string"  minOccurs="1" maxOccurs="1"/>
            <xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="1" />
            <xsd:element name="icon" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        The file name of the icon image, located in the icons folder in the config root.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="modules" minOccurs="1" maxOccurs="1">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="philipsHue" type="philipsHueActivityConfig" minOccurs="0" maxOccurs="1" />
                        <xsd:element name="infraRed" type="infraRedActivityConfig" minOccurs="0" maxOccurs="1" />
                        <xsd:element name="pcInstructor" type="pcInstructorActivityConfig" minOccurs="0" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="dailyRhythymConfig">
        <xsd:sequence>
            <xsd:element name="lightsDailyRhythymConfig" type="philipsHueDailyRhythymConfig" minOccurs="1" maxOccurs="1" />
            <xsd:element name="activations" type="dailyRhythymActivations" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="dailyRhythymActivations">
        <xsd:sequence>
            <xsd:element name="activation" type="dailyRhythymActivation" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="dailyRhythymActivation">
        <xsd:sequence>
            <xsd:element name="homeState" type="id" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dailyRhytymTrigger" type="lightsTrigger" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>

<!-- TODO: this should actually work on the room level, not the house level. For the house the only interesting thing is: are people home or not and for how long. -->
    <xsd:complexType name="customBehaviors">
        <xsd:sequence>
            <xsd:element name="customBehavior" type="customBehavior" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="customBehavior">
        <xsd:sequence>
            <xsd:element name="homeState" type="id" minOccurs="1" maxOccurs="1" />
            <xsd:element name="lightsRecipe" type="id" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="language">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="English-USA" />
            <xsd:enumeration value="English-UK" />
            <xsd:enumeration value="Dutch-NL" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="lightsTrigger">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="sensor"></xsd:enumeration>
            <xsd:enumeration value="alwaysOn"></xsd:enumeration>
            <xsd:enumeration value="alwaysOff"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="logicGrouping">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="all"></xsd:enumeration>
            <xsd:enumeration value="some"></xsd:enumeration>
            <xsd:enumeration value="none"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="personType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="resident"></xsd:enumeration>
            <xsd:enumeration value="guest"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="peopleType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="residents"></xsd:enumeration>
            <xsd:enumeration value="guests"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="manual">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="true" />
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
