config/src/main/resources/com/programyourhome/config/xsd/modules/program-your-home-config-infra-red.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xsd:complexType name="infraRedConfig">
        <xsd:sequence>
            <xsd:element name="pyhir" type="pyhir" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="pyhir">
        <xsd:sequence>
            <xsd:element name="ir" type="xsd:int" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
